* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}



/* Header Works Star Here */

header {
    width: 100%;
    background-color: black;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 80px;
    color: #fff;
}



.right-logo {
    width: 5%;
    position: relative;
    right: 5px;
}


.main-link > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.extra-link > ul  {
    list-style: none;
    display: flex;
    justify-content: space-around;
}


.extra-link > ul > li > a{
    font-size: 13px;

}

.main-link > ul > li {
    font-size: 15px;
}

.left-logo {
    width: 14%;
    position: relative;
    left: 15px;
}

.main-link {
    width: 43%;
}

.gap {
    width: 15%;
}

.extra-link {
    width: 19%;
}


a {
    text-decoration: none;
}

.search {
    width: 4%;
}

.search-icon {
    height: 20px;
}

.tcs-left {
    width: 170px;
}

.tcs-right {
    width: 55px;
}


li, .tcs-left, .tcs-right, .search-icon {
    cursor: pointer;
}

.extra-link > ul > li > a {
    color: #9e9fa3;
}

.extra-link > ul > li > a:hover {
    text-decoration: underline;
}





/* Slider Work Start Here */

.slider-container {
    height: 700px;
    width: 100%;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.slider {
    height: 480px;
}

.detail-3 {
    font-size: 5rem;
    color: #fff;
    position: absolute;
    top: -80px;
}

.slider-2 {
    width: 70%;
    overflow: hidden;
    height: 480px;
    left: -80%;
    background-image: url('./images/updated-ar-home-page-banner-for-mobile.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 100px;
}

.slider-4 {
    width: 70%;
    overflow: hidden;
    height: 480px;
    left: 80%;
    background-image: url('./images/tcs-launches-wisdomnext-an-industry-first-genai-aggregation-platform-web.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    top: -850px;
}



.top-title {
    z-index: 5;
    position: relative;
}

.slider-3 {
    width: 70%;
    background-image: url('./images/AdobeStock_640561105.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -100px;
    position: relative;
    top: -380px;
}

.slider-container:hover > .desc {
    transition: all 0.4s ease-in-out;

}

.slider-1::before, .slider-2::before, .slider-3::before, .slider-4::before {
    content: "";
    position: absolute;
    top: 100;
    right:0;
    left: 0;
    bottom: 0;
    cursor: pointer;
    height: 480px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
}

.slider-3:hover::after {
    content: "";
    position: absolute;
    top: 0;
    right:0;
    left: 0;
    bottom: 0;
    cursor: pointer;
    height: 480px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.5));
}

.wrapper {
    height: 450px;
    width: 80%;
    overflow: hidden;
}

.controls {
    position: absolute;
    bottom: 70px;
    right: 130px;
}

.pause-symbol, .left-symbol, .right-symbol {
    position: absolute;
    right: 50px;
    cursor: pointer;
}


.left-symbol, .right-symbol {
    width: 14px;
}

.pause-symbol {
    height: 18px;
    bottom: 80px;
}

.left-symbol {
    bottom: 40px;
}

.right-symbol {
    bottom: 5px;
}

.desc {
    font-size: 28px;
    display: none;
}

.slider-3:hover > .detail-3 > .desc {
    display: block;
    position: relative;
    z-index: 5;
}

.blue-btn {
    font-size: 18px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    font-weight: bold;
    width: 170px;
    background-color: #007bff;
    border-radius: 50px;
}




/* Card Slider from Here */
#container{
    width: 100%;
    height: 100%;
    background-color: black;
}
#container>.content{ 
    width: 100%;
    height:8%;
    color: white;
    font-size: 48px;
    font-weight: 500;
    font-family: 'HouschkaRoundedAlt-Medium';
    font-size: 30px;
    padding: 18px 0 0 100px;
    margin-bottom: 40px;
}
.hero{
    width: 2800px;
    height:80%;
    display: flex;
    gap: 30px;
    padding: 0 0 0 60px;
    align-items: center;
}
.card-1,.card-2,.card-3, .card-4, .card-5{
    width: 540px;
    height: 600px;
    border:none;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}
.card-1:hover,.card-2:hover,.card-3:hover, .card-4:hover, .card-5:hover{
    cursor: pointer;
}

.card-1:hover > .frame-1,.card-2:hover > .frame-2,.card-3:hover > .frame-3, .card-4:hover > .frame-4, .card-5:hover > .frame-5{
    scale: 1.2;
}

.card-1:hover >.read, .card-2:hover >.read, .card-3:hover >.read, .card-4:hover >.read, .card-5:hover >.read{
    border-bottom: 3px solid cornflowerblue;
    display: inline-block;
    transition: 0.2s ease-in-out;
}

.frame-1,.frame-2,.frame-3,.frame-4,.frame-5{
    border-radius: 8px;
    width:100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    scale: 1;
    transition: 0.8s ease-in-out;  
    position: relative;
}

.frame-1::before, .frame-2::before, .frame-3::before, .frame-4::before, .frame-5::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
}

.frame-1:hover::after, .frame-2:hover::after, .frame-3:hover::after, .frame-4:hover::after, .frame-5:hover::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: 0.5s ease-in-out;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 5));
}

.frame-1{
    background-image: url('./images/nwc-erp-platform-transformation-supply-card-1.jpeg');

}
.frame-2{
    background-image: url('./images/chatbot-1.jpeg');
  
}
.frame-3{
    background-image: url('./images/kautex-kickstarts-automation.jpeg');
}
.frame-4{
    background-image: url('./images/colruyt-algo-pricing-1.jpeg');
 
}
.frame-5{
    background-image: url('./images/takeda-Card-1330x1270-1.jpeg');

}
.frame-1:hover,.frame-2:hover,.frame-3:hover,.frame-4:hover,.frame-5:hover{
    scale: 1.2;
}
.profile-content1,.profile-content2,.profile-content3,.profile-content4,.profile-content5{
    height: 100%;
    width: 100%;
    color: white;
    font-size: 24px;
    align-items: center;
    font-weight: 500;
    line-height: 1.2;
    position: absolute;
    top: 380px;
    padding: 0 20px 0 20px;
}



.profile-content2 {
    top: 350px;
}

.profile-content3 {
    top: 350px;
}

.profile-content4 {
    top: 350px;
}

h3{
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 16px;
}

.read {
    position: absolute;
    bottom: 10px;
    left: 30px;
    display: inline-block;
    color: white;
    font-size: 24px;
    font-family: 'AlesandExtra';
    align-items: center;
    font-weight: 500;
    line-height: 1.5;
    font-size: 17px;
    letter-spacing: 2px;
    border-bottom: 3px solid transparent;
}


.book {
    position: relative;
    top: 3px;
    height: 20px;
}


.mid-header {
    font-size: 24px;
    margin-top: 60px;
    left: 100px;
    position: relative;
}

.iconic-logo {
    width: 27px;
}

h2 {
    font-weight: 100;
}

.mid-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 93%;
    font-size: 18px;
    margin: 0 auto;
    font-weight: 700;
    padding: 20px;
    background-color: #fff;
}

.mid-left, .mid-right {
    flex: 1;
    padding: 0 20px;
}

.left, .right {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 20px 0;
    border-bottom: 2px solid #ddd;
    transition: border-color 0.3s ease, font-weight 0.3s ease;
}

.left img, .right img {
    margin-right: 10px;
}

.left hr, .right hr {
    flex-grow: 1;
    margin-left: 10px;
    border: none;
    border-bottom: 2px solid #ddd;
}

.left:hover, .right:hover {
    border-bottom: 3px solid #000;
    cursor: pointer;
}

.left:hover hr, .right:hover hr {
    border-bottom: 2px solid #000;
}

.left:hover img, .right:hover img {
    filter: brightness(0.8);
}

.left:hover, .right:hover {
    font-weight: bold;
}







/* Service Sectoin Start Here */
.service-section {
    background-color: #1E2222;
    color: #fff;
    height: 740px;
    padding-top: 20px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    margin: 65px 70px 0 65px;
    background-repeat: no-repeat;
}

.services {
    width: 100%;
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: bold;
    margin: 10px 0 15px 10px;
}

.heading {
    width: 100%;
    margin: 0 0 70px 10px;
    font-size: 40px;
}

.child {
    width: 23%;
    height: 350px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    border-radius: 10px;
    color: #fff;
    padding: 25px;   
    font-size: 24px;
}

.child::before {
    content: "";
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    opacity: 1;
}

.child::after {
    content: "";
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border-radius: 10px;
}

.text {
    position: absolute;
    z-index: 3;
}

.child:hover::after {
    opacity: 1;
}

.child:hover::before {
    opacity: 0;
}

.child:hover {
    transform: translateY(-13px);
}


.one {
    background-image: url(./images/robotics.png);
    background-size: cover;
}

.two {
    background-image: url(./images/analyzers.jpeg);
    background-size: cover;
}

.three {
    background-image: url(./images/enginners.png);
    background-size: cover;
    background-position: -110px 0;

}

.four {
    background-image: url(./images/planners.jpeg);
    background-size: cover;
}

.btn {
    padding: 15px 55px 15px 35px;
    border: 1px solid white;
    border-radius: 30px;
    position: relative;
    top: 40px;
    font-size: 20px;
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color:black
}

.btn:hover::after {
    background-image: url(./images/svg/black.svg);  
}

.btn::after {
    content: "";
    background-image: url(./images/svg/arrow-down-white.svg);
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-45%);
    transform: translateY(-45%);
    left: 160px;
    -webkit-transition: .7s;
    transition: .7s;
}








/* Product and Platforms */
.poduct-container {
    position: relative;
}

.poduct-container > h3 {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    left: 6%;
    top: 5px;
}

.poduct-container > h1 {
    font-size: 45px;
    font-weight: normal;
    position: relative;
    font-family: serif;
    left: 6%;
    top: 0px;
}

.pro-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    gap: 3%;
}

.pro-sections-left {
    position: relative;
    top: 40px;
    left: 5%;
    width: 45%;
}

.pro-section > h3 {
    font-size: 25px;
    font-weight: normal;
    position: relative;
    font-family: sans-serif;
    left: 0;
    top: 0px;
    cursor: pointer;
    margin-bottom: -5px;
}

.pro-section > p {
    position: relative;
    margin-bottom: 40px;
    cursor: pointer;
}

.pro-sections-right {
    top: 40px;
    width: 45%;
    position: relative;
    left: 3%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
    flex: 1 1 calc(50% - 10px); 
    min-width: 300px; 
}

.card h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.card a {
    font-size: 24px;
    color: #0073e6;
    text-decoration: none;
}

.card:hover hr.bold-hr-1 {
    border-width: 30px;
}

.bold-hr1, .bold-hr2, .bold-hr3, .bold-hr4, .bold-hr5, .bold-hr6, .bold-hr7, .bold-hr8, .bold-hr9, .bold-hr10, .bold-hr11, .bold-hr12, .bold-hr13, .bold-hr14, .bold-hr15, .bold-hr16, .bold-hr17
 {
    border-bottom: 1px solid #4e84c4;
    position: relative;
    margin: 30px 0; 
}



.pl-1:hover ~ .bold-hr1, .pl-2:hover ~ .bold-hr2, .pl-3:hover ~ .bold-hr3, .pl-4:hover ~ .bold-hr4, .pl-5:hover ~ .bold-hr5, .pl-6:hover ~ .bold-hr6, .pl-7:hover ~ .bold-hr7, .pl-8:hover ~ .bold-hr8, .pl-9:hover ~ .bold-hr9 {
    border-bottom: 3px solid #4e84c4;
}


.pr-1:hover ~ .bold-hr10, .pr-2:hover ~ .bold-hr11, .pr-3:hover ~ .bold-hr12, .pr-4:hover ~ .bold-hr13, .pr-5:hover ~ .bold-hr14, .pr-6:hover ~ .bold-hr15, .pr-7:hover ~ .bold-hr16, .pr-8:hover ~ .bold-hr17 {
    border-bottom: 3px solid #4e84c4;
}





/* Spotlight Section */
.sp-rightarrow {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 88%;
    cursor: pointer;
}

.sp-rightarrow>img {
    position: relative;
    top: 13px;
    left: 12px;
}

#sp-nav{
    width:100%;
    height:14%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top:0;
}
.sp-navbar>img{
    height: 80px;
    padding: 20px 0 0 25px;
}
.sp-profile{
    height:80%;
    width:200px;
    position: relative;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content:space-around ;
    gap:10px;
   
}

.sp-detail {
    font-family: 'arial';
    font-size: 20px;
}

.sp-profile>img{
   height: 100%;
   width:60px;
}
.sp-search>img{
    width:70px;
}
#sp-container{
    width: 100%;
    height: 650px;
    background-color: black;
}
#sp-container>.sp-content{ 
    width: 100%;
    height:8%;
    color: white;
    font-size: 42px;
    font-weight: 500;
    font-family: 'HouschkaRoundedAlt-Medium';
    padding: 18px 0 0 100px;
    margin-bottom: 40px;
}
.sp-hero{
    width: 2000px;
    height:80%;
    display: flex;
    gap: 30px;
    padding: 0 0 0 60px;
    align-items: center;
}
.sp-card-1,.sp-card-2,.sp-card-3 {
    width: 440px;
    height: 510px;
    border:none;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}
.sp-card-1:hover,.sp-card-2:hover,.sp-card-3:hover {
    cursor: pointer;
}

.sp-card-1:hover > .sp-frame-1,.sp-card-2:hover > .sp-frame-2,.sp-card-3:hover > .sp-frame-3 {
    scale: 1.2;
}

.sp-card-1:hover >.sp-read, .sp-card-2:hover >.sp-read, .sp-card-3:hover >.sp-read {
    border-bottom: 3px solid cornflowerblue;
    display: inline-block;
    transition: 0.2s ease-in-out;
}

.sp-frame-1,.sp-frame-2,.sp-frame-3 {
    border-radius: 8px;
    width:100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    scale: 1;
    transition: 0.8s ease-in-out;  
    position: relative;
}

.sp-frame-1::before, .sp-frame-2::before, .sp-frame-3::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
}

.sp-frame-1:hover::after, .sp-frame-2:hover::after, .sp-frame-3:hover::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: 0.5s ease-in-out;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 5));
}

.sp-frame-1{
    background-image: url('./images/cq5dam.thumbnail.1280.765_6.jpeg');

}
.sp-frame-2{
    background-image: url('./images/cq5dam.thumbnail.1280.765_4.jpeg');
  
}
.sp-frame-3{
    background-image: url('./images/cq5dam.thumbnail.1280.765_7.jpeg');
}

.sp-frame-1:hover,.sp-frame-2:hover,.sp-frame-3:hover {
    scale: 1.2;
}
.sp-profile-content1,.sp-profile-content2,.sp-profile-content3{
    height: 100%;
    width: 100%;
    color: white;
    font-size: 24px;
    align-items: center;
    font-weight: 500;
    line-height: 1.2;
    position: absolute;
    top: 380px;
    padding: 0 20px 0 20px;
}



.sp-profile-content2 {
    top: 350px;
}
h3{
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 16px;
}

.sp-read {
    position: absolute;
    bottom: 10px;
    left: 30px;
    display: inline-block;
    color: white;
    font-size: 24px;
    font-family: 'AlesandExtra';
    align-items: center;
    font-weight: 500;
    line-height: 1.5;
    font-size: 17px;
    letter-spacing: 2px;
}


.sp-btn {
    position: absolute;
    top: 18px;
    left: 30px;
    display: inline-block;
    color: black;
    background-color: #fff;
    border-style: none;
    border-radius: 50px;
    padding: 6px 10px;
    font-family: sans-serif;
    align-items: center;
    font-weight: 500;
    line-height: 1.5;
    font-size: 14px;
    letter-spacing: 1px;
}

.sp-btn:hover {
    cursor: pointer;
}


.sp-book {
    position: relative;
    top: 3px;
    height: 20px;
}







/* Join our Team Section */
.join {
    background-color: #1e2222;
    color: #fff;
    padding-top: 100px;
    width: 100%;
    height: 380px;
}
.join-team-section {
    text-align: center;
    color: white;
}

.join-team-section h1 {
    font-size: 3.5em;
    margin: 0;
    font-family: serif;
    font-weight: 500;
}

.join-team-section p {
    margin: 20px 0;
    font-size: 18px;
}

.join-team-section button {
    background-color: #1e2222;
    border: 1px solid white;
    color: white;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.5s;
}

.join-team-section button:hover {
    background-color: white;
    color: #1e2222;
}

.join ~ .hr {
    flex-grow: 1;
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid #ddd;
}




/* Follow Section from Here */
.follow-social {
    color: white;
    background-color: #1e2222;
    height: 300px;
}

.follow-us-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.follow-us-section h2 {
    padding-top: 70px;
    margin-bottom: 20px;
    margin-left: 40px;
    font-size: 40px;
    width: 100%;
    font-family: serif;
}


.social-media-links {
    display: flex;
    justify-content: space-around;
    gap: 150px;
    margin-top: 30px;
    width: 100%;
}

.social-media-item {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 15px;
}

.social-media-item i {
    font-size: 2em;
    margin-bottom: 10px;
}

.social-media-item span {
    display: block;
}

.social-media-item > img {
    height: 40px;
    width: 40px;
}

.follow-social ~ .hr {
    border-bottom: 1px solid white;
}









/* Bottom Links Section from Here */
.bottom-links {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1e2222     ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}

.bl-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 100%;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
}

.bl-column {
    flex: 1;
    min-width: 200px;
}

.bl-column > h2 {
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: serif;
    font-size: 18px;
}

.bl-column > ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.bl-column > ul > li {
    margin-bottom: 10px;
    width: 100%;
    font-size: 12px;
    line-height: 27px;
}









/* Footer Section from Here */
footer {
    background-color: #000;
    color: #fff;
    /* padding: 20px 0; */
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    padding: 20px 20px;
}

.footer-links > span {
    margin-bottom: 8px;
    font-size: 14px;
    display: block;
    color: rgb(184, 184, 184);
}

.footer-social-media > a > img {
    height: 16px;
    width: 16px;
    margin-left: 18px;
}

.footer-content .logo {
    display: flex;
    align-items: center;
}

.footer-content .logo img {
    height: 40px;
    margin-right: 10px;
}

.footer-content .links {
    display: flex;
    flex-wrap: wrap;
}

.footer-links > a {
    font-size: 14px;
    color: rgb(184, 184, 184);
}

.footer-content .links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.footer-content .social-media a {
    margin: 0 5px;
}

.footer-content .social-media img {
    width: 20px;
    height: 20px;
}

.footer-content .theme-toggle {
    display: flex;
    align-items: center;
}

.footer-theme-toggle span {
    margin: 0 5px;
}


.outer-oval {
    height: 26px;
    width: 153px;
    background-color: #494c4d;
    border-radius: 50px;
    cursor: pointer;
}

.inner-rounds {
    width: 80px;
    background-color: #fff;
    color: #000;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    border-radius: 20px;
    margin-left: 5px;
    text-align: center;
    font-family: sans-serif;
}

.inner-obj2 {
    padding-right: 10px;
    color: #b4b4b8;
    padding-top: 2px;
}

.inner-itemx {
    padding: 3px;
    justify-content: center;
    font-family: sans-serif;
    font-size: 14px;
    align-items: center;
    display: flex;
    gap: 15px;
}